version: '2'
services:
  solr_setup:
    build: .
    command: bundle exec rake solr:setup_dev
    volumes:
      - .:/mdl_search
  solr:
    image: solr
    ports:
      - "8983:8983"
    volumes:
      - ./cores:/opt/solr/server/solr/cores
  web:
    build: .
    env_file:
      - .env
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - .:/mdl_search
    ports:
      - "3000:3000"
    links:
      - solr
    depends_on:
      - solr
    environment:
      - GEONAMES_USER
      - GEONAMES_TOKEN
  sidekiq:
    build: .
    command: bundle exec sidekiq -r /mdl_search
    volumes:
      - .:/mdl_search
    links:
      - redis
    env_file:
      - .env
    environment:
      - GEONAMES_USER
      - GEONAMES_TOKEN
  redis:
    image: redis:latest