<div class="pages">
  <h1>Online Privacy Statement</h1>
  <p>
    We respect the privacy of website visitors to the extent permitted by law. This online privacy statement is intended to inform users of what information is collected by this website and how the information is used.
  </p>
  <p>
    Use of links to other websites is subject to the privacy statement of the providers of those websites. We encourage users to be aware when leaving this website and to read the privacy statement on each website visited. Often users can tell when they are leaving our website by looking at the URL of the destination site.
  </p>
  <p><a href="https://mndigital.org/about/contact-us">Contact us</a> with questions about this site's collection of information or its online privacy statement.</p>

  <h2>Non-Personally Identifiable Information</h2>
  <p>
    For security purposes and to ensure that the website remains available to all users, we use software to monitor network traffic to identify unauthorized attempts to upload or change information, or otherwise cause damage.
  </p>
  <p>
    We collect non-personal information about a user's Internet connection on this website, including but not limited to:
  </p>
  <ul>
    <li>the Internet Protocol (IP) and the name of the Internet domain used to access the Internet</li>
    <li>the IP address or URL of the website from which a user directly linked to this website</li>
    <li>the date and time a user accessed this website</li>
    <li>the pages visited on this website</li>
    <li>the browser and operating system used to access this website</li>
    <li>the search terms used on our search engines</li>
  </ul>
  <p>We use this non-personal information to help manage the website and improve service.</p>
  <p>
    This site uses Google Analytics for gathering statistics about web traffic. Information about how Google Analytics gathers and uses data is available in <a href="http://www.google.com/policies/privacy/"></a>Google's privacy policy</a>.
  </p>

  <h2>Personally Identifiable Information</h2>
  <p>
    Some pages on the Minnesota Digital Library website record Personally Identifiable Information when voluntarily supplied by users of the site (for example, feedback/contact forms). We collect and use this data only for the purpose conveyed on the page or form. We use appropriate safeguards to ensure the security, integrity, and privacy of personally identifiable information submitted to our site and periodically update measures with new technologies.
  </p>
  <p>
    Our data gathering and dissemination are governed by state and federal laws, including the <a href="https://www.revisor.mn.gov/statutes/?id=13">Minnesota Government Data Practices Act, Minnesota Statutes, Chapter 13</a>. Personally identifiable information is not released to external parties without your consent unless required by law.
  </p>

  <h2>Security</h2>
  <p>When appropriate, we use encryption technologies, user authentication systems, and access control mechanisms.</p>
</div>