<div class="asset-viewer display">
  <%= render_asset_viewer compound_asset.with_page_id(params[:compound]) %>
</div>
<div class="asset-viewer menu">
  <%= render 'compound_menu', compound_asset: compound_asset %>
</div>