<div id="compound-menu">
  <ul class="nav nav-pills">
    <% compound_list.compounds.each do |compound| %>
    <li role="presentation" class="<%= (compound.page_id == params['compound']) ? 'active' : '' %>">
      <%= compound.menu_link %>
    </li>
    <% end %>
  </ul>
</div>

