<div class="asset-viewer panel">
  <div class="asset-viewer display">
    <%= render_asset_viewer(compounds.with_page_id(params[:compound])) %>
  </div>
  <div class="asset-viewer menu">
    <%= render 'compound_menu', compound_list: compounds(@document), document: @document %>
  </div>
</div>