<div id="compound-menu">
  <ul class="nav nav-pills">
    <% compound_asset.pages.each do |page| %>
    <li role="presentation" class="<%= (page.id == params['compound']) ? 'active' : '' %>">
      <%= page.menu_link %>
    </li>
    <% end %>
  </ul>
</div>

