<%
   borealis_doc = MDL::BorealisDocument.new(document: document)
   config = []
   config << MDL::CiteDetails.new(solr_doc: document).to_hash
   config << MDL::CiteCitation.new(solr_doc: document, base_url: request.base_url).to_hash
   config << MDL::CiteDownload.new(assets: borealis_doc.assets).to_hash
   config << MDL::CiteTranscript.new(solr_doc: document).to_hash
   config = config.map { |item| (!item.empty?) ? item : nil }.compact
%>

<%= react_component('app.FullRecord',
                    base_path: request.path,
                    borealis_config: borealis_doc.to_viewer,
                    citation_config: config) %>

<%= json_page_link %>

<div class="metadata" data-metadata='<%= document.to_json %>' ></div>

<%= render partial: 'map_view',
  locals: {
    coordinates: @document['coordinates_llsi'],
    map_id: 'full_record_map',
    initial_path: MDL::InitialPath.new(format: @document['format_ssi']).path,
    with_popup: true
  }
%>