<% if @document['topic_ssim'] %>
  <div class="panel panel-default topics-panel">
    <div class="panel-heading">Topics</div>
    <div class="panel-body">
      <%= facet_links 'topic_ssim', @document['topic_ssim'] %>
    </div>
  </div>
<% end %>

<% if @document['keyword_ssim'] %>
  <div class="panel panel-default keywords-panel">
    <div class="panel-heading">Keywords</div>
    <div class="panel-body">
      <%= facet_links 'keyword_ssim', @document['keyword_ssim'] %>
    </div>
  </div>
<% end %>

<% unless @document.more_like_this.empty? %>
  <div class="panel panel-default more-like-this">
    <div class="panel-heading">Related Items</div>
    <div class="panel-body">
      <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :doc %>
    </div>
  </div>
<% end %>

<%= json_page_link %>