<% unless @document.more_like_this.empty? %>
  <div class="panel panel-default more-like-this">
    <div class="panel-heading">Related Items</div>
    <div class="panel-body">
      <%= render :collection => @document.more_like_this, :partial => 'show_more_like_this', :as => :asset %>
    </div>
  </div>
<% end %>