$(function() {

  //TODO: find a way to use the existing viewer partials
  function image_viewer(id) {
    return '<div id="full-record-seadragon"><script type="text/javascript">' +
           '  OpenSeadragon({ ' +
           '      id:            "full-record-seadragon", ' +
           '      prefixUrl:     "/assets/", ' +
           '      tileSources:   [{' +
           '          type: "image", ' +
           '          url: "<%= ENV['RAILS_ROOT_URL'] %>/contentdm-images?id=' + id + '"' +
           '      }] ' +
           '  }); ' +
           '</script></div>';
  }

  function pdf_viewer(collection, id, pagefile) {
    var url = "http://reflections.mndigital.org/utils/getfile/collection/" + collection + "/id/"+ id +"/filename/"+ pagefile +"#toolbar=1&navpanes=1";
    return '<embed src="' + url +'" width="800" height="800" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html" background-color="0xFF525659" top-toolbar-height="56">' + url;
  }

  function audio_viewer(collection, id) {
    var src = "http://reflections.mndigital.org/utils/getstream/collection/" + collection + "/id/" + id;
    return '<audio controls class="audio-player">' +
           '<source src="' + src + '" type="audio/mpeg">' +
           'Your browser does not support the audio element.' +
           '</audio>';
  }

  function video_viewer(collection, id) {
    var src = "http://reflections.mndigital.org/utils/getstream/collection/" + collection + "/id/" + id;
    return '<video "400" height="400" controls class="audio-player">' +
           '<source src="' + src + '" type="audio/mpeg">' +
           'Your browser does not support the audio element.' +
           '</video>';
  }

  function viewer(type, collection, id, pagefile) {
    switch(type) {
        case 'image':
            return image_viewer(collection + ':' + id);
            break;
        case 'pdf':
            return pdf_viewer(collection, id, pagefile);
            break;
        case 'audio':
            return audio_viewer(collection, id);
            break;
        case 'video':
            return video_viewer(collection, id);
            break;
        default:
            return image_viewer(id);
    }
  }


  function extract_link_data(element) {
    return $(element).attr('id').split('-');
  }

  function toggle_active(element) {
    $('#compound-menu').find('li').each(function(){
      $(this).removeClass('active');
    });
    $(element).parent('li').addClass('active');
  }


  $('#compound-menu li').first().addClass('active');

  $('#compound-menu a').click(function(e) {
      e.preventDefault();
      toggle_active(this);
      [type, collection, id, pagefile] = extract_link_data(this);
      $('.asset-viewer.display').html(viewer(type, collection, id, pagefile));
  });

});