
/* Scott */

/*  Dark blue: #0e76bc
  Medium blue: #30aed0
  Light blue: #88c2e6
  Dark green: #5f994a
  Medium green: #7eba6a
  Light green: #a3bf5b
  Orange: #f1aa29
  Lightest gray: #ecedf0
  Light gray: #d3d4d7
  Medium gray: #6d6e71
  Dark gray/black: #231f20 */

/* import google web font */
@import url(//fonts.googleapis.com/css?family=Muli:400,400i,700,700i);

body {
    color: #231f20;
    font-family: 'Muli', helvetica, arial, sans-serif;
}

@media (max-width: 479px) {
	.home-panel {
		min-height: 0 !important;
		padding: 4px 0 12px !important;
	}
	
	.home-wrapper {
		padding: 0 8px 20px !important;
	}
}

@media (max-width: 599px) {
	.home-desc {
		margin: 0 8px !important;
	}
	
	.dl-horizontal dt {
		width: auto !important;
		text-align: left !important;
	}

	.dl-horizontal dd {
		clear: left !important;
		margin-left: 0 !important;
	}
}

@media (max-width: 767px) {
	.navbar-brand {
		background: transparent image-url("reflections-icon-blacklight.png") no-repeat top left !important;
		width: 74px !important;
	}
	
	.search-widgets {
		float: none !important;
		margin-top: 8px !important;
		text-align: left !important;
	}
}

@media (max-width: 799px) {
	.home-wrapper {
		margin: 0 8px !important;
		width: auto !important;
	}
	
	.input-group {
		margin: 0 auto !important;
	}
	
	.footer-links, .footer-social, .footer-contact {
		text-align: center !important;
	}
}

@media (min-width: 1024px) {
	.search_q {
		width: 500px !important;
	}
}

@media (max-width: 1199px) {
	.home-page {
		.facet-content {
			min-height: 0 !important;
		}
	}
	
	#sidebar {
		margin-top: 20px !important;
	}
}

@media (min-width: 1450px) {
	.blacklight-catalog-show .container {
		width: 1170px;
	}
}

.blacklight-catalog .container {
	margin: 0 auto;
	/* width: 96%; */
}

.row {
	margin-left: 0;
	margin-right: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #5f994a;
}

h1, .h1 {
	margin-bottom: 24px;
	margin-top: 0;
}

a {
    color: #0e76bc;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #5f994a;
    text-decoration: underline;
}

a.remove:hover {
	background-color: red !important;
	border-color: red !important;
	color: #fff !important;
}

.navbar-brand {
	background: transparent image-url("reflections-logo-blacklight.png") no-repeat top left;
	display: inline-block;
	height: 88px;
	margin: 0 20px 4px 8px !important;
	overflow: hidden;
	padding-right: 0;
	text-align: right;
	text-indent: 100%;
	white-space: nowrap;
	width: 200px;
}

.navbar-default {
	background-color: #d3d4d7;
	border-color: #30aed0;
	box-shadow: 0 0 8px #6d6e71;
}

.navbar-fixed-top {
	border-width: 0 0 2px;
}

#search-navbar {
	z-index: 100000;
}

#search-navbar .search-query-form {
	border: 0;
	padding: 25px 0 0 15px;
}

#search-navbar .input-group {
	width: 60%;
}

.navbar-form {
	margin: 8px 0 !important;
	padding: 25px 0 0 0 !important;
}

.input-group-addon {
	border: none;
	color: #231f20;
}

.input-group-addon:first-child {
	border-right: 1px solid #ecedf0;
}

.form-control {
	border: 1px solid #fff;
	border-radius: 0;
	color: #231f20;
}

.btn-default {
	border-color: #d3d4d7;
	color: #231f20;
}

.btn-default:hover {
	background: #ecedf0 !important;
	color: #231f20 !important;
	text-decoration: none !important;
}

.btn-primary {
	background-color: #0e76bc;
	border-color: #0e76bc;
}

.btn-primary:hover {
	background-color: #5f994a;
	border-color: #5f994a;
	color: #fff !important;
	text-decoration: none !important;
}

.btn-link {
	color: #0e76bc;
}

.close {
	opacity: 0.3;
}

.btn .disabled a:hover {
	color: #231f20 !important;
	text-decoration: none !important;
}

.nav>li>a {
	background-color: #d3d4d7;
	display: block;
	padding: 10px 15px;
	position: relative;
	text-decoration: none;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: #ecedf0;
	border: none;
	text-decoration: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus, .nav-pills>li>a.active, .nav-pills>li>a.active:hover, .nav-pills>li>a.active:focus {
	background-color: #0e76bc;
	color: #fff;
	text-decoration: none;
}

.pagination-search-widgets {
	background: #ecedf0;
	border: 1px solid #d3d4d7;
	border-radius: 4px;
	margin-bottom: 24px;
	padding: 0 8px;
}

.btn:hover,.facets-toggle:hover,.btn:focus,.facets-toggle:focus,.btn.focus,.focus.facets-toggle {
	color: #5f994a;
	text-decoration: underline;
}

#main-container, #content, #sidebar {
	margin-top: 60px;
}

.panel-default {
	border-color: #d3d4d7;
}

.panel-default > .panel-heading {
	background-color: #ecedf0;
	border-color: #d3d4d7;
	color: #231f20;
	font-weight: bold;
	text-transform: uppercase;
}

.modal-dialog {
	margin: 120px auto;
}

.modal-header {
	border-bottom: 1px solid #d3d4d7;
}

.pages {
	margin: 75px 20px 0;
}

.ppt-download img {
  margin: 0 10px 15px 0;
}

.icon-json {
  font-size: 3em;
  margin-top: 15px;
}

/* Homepage styles */
.home-panel {
	border-radius: 4px;
	margin: 50px auto 15px;
	padding-top: 75px;
}

#home-search {
	width: auto;
}

.home-wrapper {
	.search_field {
		display: none;
	}
	.input-group-addon {
		display: none;
	}
	.search_q {
		width: 100%;
		border: 1px solid #5f994a;
		border-top-left-radius: 4px !important;
		border-bottom-left-radius: 4px !important;
	}

	.navbar-form {
		padding: 0;
	}

	background-color: #ecedf0;
	border-radius: 4px;
	opacity: .92;
	z-index: 2;
	position: relative;
	width: 80%;
	margin: 0 auto;
	padding: 0 0 20px;
}

.home-panel {
	position: relative;
	text-align: center;
	background: image-url("home-hero.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 300px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 50px auto 15px;
	padding-top: 75px;
}

.home-panel:after {
	content: " ";
	z-index: 1;
	display: block;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.home-desc {
	margin: 0 auto;
	text-align: center;
	width: auto;
}

.home-page {
	.facet-content {
		min-height: 260px;
	}
	margin-top: 10px;
}

.input-group-btn {
	width: auto;
}

.alpha-filter .btn {
	margin: 6px 0 12px;
}

/* End homepage styles */

/* Search results page styles */
.facets .facets-heading {
	background: #5f994a;
	border-radius: 4px;
	color: #fff !important;
	font-weight: bold !important;
	margin: 0 -15px;
	padding: 8px;
	text-align: center;
	text-transform: uppercase;
}

.facet-label {
	color: #231f20;
}

/*.facet-label.selected {
  color: #3c763d;
} */

.facet-values {
	table-layout: auto;
}

.facet-values .facet-label {
	hyphens: none;
	padding-right: 0;
}

.panel-title > a {
	text-decoration: none !important;
	text-transform: none !important;
}

.panel-title > a:hover {
	color: #231f20 !important;
}

.constraints-container {
	background-color: #ecedf0;
	border-color: #d3d4d7;
	margin: 10px 0 20px;
}

#sortAndPerPage {
	border-bottom: none;
	margin: 10px 0 0;
}

#sort-dropdown .dropdown-toggle, #per_page-dropdown .dropdown-toggle {
	color: #0e76bc;
}

.search-widgets {
	float: right;
	text-align: right;
}

.documents-list > .document {
	background: #ecedf0;
	border: 1px solid #d3d4d7;
	border-radius: 4px;
	margin-top: 8px;
	padding: 4px 12px;
}

.gallery-result {
	background-color: #ecedf0;
}

h3.document-title-heading {
	font-weight: bold !important;
	line-height: 1.5 !important;
	padding-left: 0;
}

.dl-horizontal dt {
	color: #6d6e71;
	float: left;
	font-weight: bold;
	width: 180px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 10px;
}

.dl-horizontal dd {
	margin-left: 190px;
	margin-bottom: 8px;
}

.pagination {
	margin: 15px 0 5px -7px;
}

.pagination > li > a {
	border: 1px solid #d3d4d7;
	color: #0e76bc;
}

.pagination > li > a:hover {
	background-color: #ecedf0;
}

.pagination > .disabled > a {
	border-color: #d3d4d7;
	color: #6d6e71;
}

.toggle_bookmark {
	display: none !important;
}
/* End search results item page styles */

/* Item page styles */
.keywords-panel a {
	line-height: 2 !important;
}

.more-like-this {
	margin-top: 20px;
}

.more-like-this .panel-body {
	text-align: center;
}

.more-like-this ul {
	list-style: none;
}

.more-like-this li {
	display: inline-block;
}

.more-like-this img {
	height: 75px;
	width: 75px;
	margin: 5px;
}

#react-borealis {
	margin: 0;
	padding: 0;
}

.borealis-tray {
	margin: 0 !important;
	padding: 0 !important;
}

.image-nav {
	margin: 12px 0;
}

.image-nav ul {
	margin-left: 0 !important;
}

.osd {
	padding: 0;
}

.kaltura-player {
	padding-top: 16px;
}

.addthis_inline_share_toolbox {
	margin: 20px 0 0 -2px;
}

.citation {
	margin: 0;
	padding: 0;
}

.citation-navigation {
	border-top: none;
	padding-top: 16px;
}

.citation h3 {
	margin-bottom: 8px;
	margin-top: 20px;
}

dt, dd {
	margin: 0;
	padding: 0;
}

.field-label {
	padding-bottom: 0;
}

.label {
	color: #231f20;
	font-size: 100%;
	padding: 0;
}

.label-default {
	background-color: #fff;
}

.download-source {
	margin-bottom: 20px;
	padding: 0;
}

.thumbnail {
	border: 1px solid #d3d4d7;
	margin-bottom: 0;
}

.borealis-thumbnail .active {
	border: 1px solid #0e76bc;
}

.detail-field-collectiondescription > .field-label {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.detail-field-collectiondescription > .field-definition {
	background: #ecedf0;
	border: 1px solid #d3d4d7;
	border-radius: 4px;
	padding: 8px;
}
/* End item page styles */

/* Footer styles */
.footer {
	background: #30aed0;
	border-top: none;
	margin: 24px auto 0;
	padding: 20px 0;
}

.footer h2 {
	color: #231f20;
	margin-top: 0;
}

.footer a {
	color: #231f20;
	text-decoration: underline;
}

.footer a:hover {
	color: #fff;
}

.footer-links {
	text-align: left;
}

.footer-social {
	text-align: center;
}

.footer-contact {
	text-align: right;
}

.footer .logos a {
    text-decoration: none;
}

.logos {
	margin-top: 24px;
	text-align: center;
}

.logos img {
	background: #fff;
	margin: 4px;
	padding: 8px;
}
/* End footer styles */

