// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pages {
  margin-top: 75px;
  .icon {
    font-size: 6em;
  }
}

.pages-text {
  font-size: 1.2em;
}