#documents.documents-gallery {
  text-align: center;
  vertical-align: top;
  .document {
    margin: 10px;
    padding: 0;
    display: inline-block;
    height: 250px;
    width: 175px;
    .title {
      height: 75px;
      width: 150px;
      overflow: hidden;
    }
  }
}

.gallery-result {
  display: inline-block;
  height: 230px;
  margin: 10px;
  .panel-body {
    width: 185px;
  }
  .image-wrapper {
    height: 150px;
    width: 150px;
  }
  img {
    max-height: 150px;
    max-width: 150px;
    overflow: hidden;
  }
}