#documents.documents-gallery {
  text-align: center;
  vertical-align: top;
  .panel {
    margin: 0;
  }

  .document {
    padding: 0;
    margin: -3px 5px;
    display: inline-block;
    border: none;
    .title {
      height: 75px;
      width: 150px;
      overflow: hidden;
    }
  }
}

.gallery-result {
  display: inline-block;
  height: 230px;
  .panel-body {
    width: 185px;
    height: 230px;
  }
  .image-wrapper {
    height: 150px;
    width: 150px;
  }
  img {
    max-height: 150px;
    max-width: 150px;
    overflow: hidden;
  }
}